.content{
  display: flex;
  height:90%;
  align-content: center;
  justify-content: center;
}

.login {
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin: 20px;
  height: 30%;
  width: 25%;
  border: 1px solid #adb0b3;
}

.login_button {
  width: 200px!important;
  height: 40px!important;
}
.submit {
  display: flex;
  justify-content: center;
}

form {
  align-content: center;
  justify-content: center;
  width: 90%;
  height: 90%;
}

label {
  width: 120px;
}

// input {
//   width: 200px;
//   height: 30px;
//   margin: 10px;
//   padding: 4px;
//   // border-radius: 4px;
// }



.button-row {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
}

.info {
  display: flex;
  justify-content: center;
  align-content: center;
}

h1 {
  display: flex;
  align-content: center;
}
