<div class="content" role="main">
  <mat-card class="login">
    <h1 class="header">Login</h1>
    <div class="info">
      <form>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Username/email" name="uname" required><br>
        <label for="pswd"><b>Password</b></label>
        <input type="password" placeholder="Password" name="uname" required><br>
        <br><br>
        <div class="submit">
            <button mat-raised-button class="login_button" color="accent">Submit</button>
        </div>
    </form>
    </div>
  </mat-card>
<div>
