<p>job-listing-details works!</p>
<div *ngIf="job-listing">
    <div>
      <label>Job Position: </label> {{job-listing.Position}}
    </div>
    <div>
      <label>Start Date: </label> {{job-listing.StartDate}}
    </div>
    <div>
        <label>Location: </label> {{job-listing.Location}}
    </div>
    <div>
        <label>Filter Tag 1: </label> {{job-listing.FilterTagOne}}
    </div>
    <div>
        <label>Filter Tag Two: </label> {{job-listing.FilterTagTwo}}
    </div>
    <div>
        <label>Education Requirement: </label> {{job-listing.EducationRequirement}}
    </div>
    <div>
        <label>Description: </label> {{job-listing.Description}}
      </div>
    <div>
      <label>Active: </label> {{job-listing.active}}
    </div>
   
    <span class="button is-small btn-primary" *ngIf='job-listing.active' (click)='updateActive(false)'>Inactive</span>
   
    <span class="button is-small btn-primary" *ngIf='!job-listing.active' (click)='updateActive(true)'>Active</span>
   
    <span class="button is-small btn-danger" (click)='deleteJobListing()'>Delete</span>
   
    <hr/>
  </div>