<div *ngIf="joblisting">
  <mat-card class="main">
      <div>
          <h2>{{joblisting.position}}</h2>
        </div>
        <div>
            <h3>{{joblisting.Location}}</h3>
        </div>
        <br>
        <div>
          <button mat-stroked-button class="b1">{{joblisting.FilterTagOne}}</button>
          <button mat-stroked-button class="b1">{{joblisting.FilterTagTwo}}</button>
        </div>
        <div>
            <p>Education Requirement:  {{joblisting.EducationRequirement}} </p>
        </div>
        <div class="description">
            <label>Description: </label> {{joblisting.Description}}
          </div>
          <br>
        <div class="apply_button">
            <button mat-raised-button color="accent">Apply</button>
        </div>
  </mat-card>
</div>
