.main {
  display:flex;
  justify-content: center;
}

.form-control-bio {
  width: 350px;
  height: 200px;
}

.card {
  border: 1px solid #adb0b3;
  margin: 200px 0px 0px 0px;
  padding:20px;
}

h3 {
  display:flex;
  justify-content: center;
}
