<div *ngIf="jobgiver">

  <div>
    <label> Name: </label> {{jobgiver.name}}
  </div>

  <div>
      <label>Email: </label> {{jobgiver.email}}
  </div>

  <div>
    <label>Industry: </label> {{jobgiver.industry}}
  </div>

  <div>
      <label>Company Name: </label> {{jobgiver.companyname}}
  </div>

    <div>
        <label> Bio: </label> {{jobgiver.giverBio}}
    </div>

  <div>
    <label>Active: </label> {{jobgiver.active}}
  </div>

  <span class="button is-small btn-primary" *ngIf='jobgiver.active' (click)='updateActive(false)'>Inactive</span>

  <span class="button is-small btn-primary" *ngIf='!jobgiver.active' (click)='updateActive(true)'>Active</span>

  <span class="button is-small btn-danger" (click)='deleteJobGiver()'>Delete</span>

  <hr/>
</div>
