<div class="content" role="main">
  <mat-card class="newjob">
    <h2 class="header">New Job Posting</h2>
    <div class="form-group">
      <form>
        <label for="fname"><b></b></label>
        <input type="text" placeholder="Company Name" name="uname" required><br>
        <label for="lname"><b></b></label>
        <input type="text" placeholder="Position Available" name="uname" required><br>
        <label for="uname"><b></b></label>
        <input type="text" placeholder="Location" name="uname" required><br>
        <label for="psw"><b></b></label>
        <input type="password" placeholder="Start Date" name="uname" required><br>
        <label for="pnumber"><b></b></label>
        <input type="text" placeholder="Email" name="uname" required><br>
        <br><br>
        <label for="uname"><b></b></label>
        <input type="text" placeholder="Educational Req." name="uname" required><br>
    </form>
    </div>
    <div class="form-group">
      <form>

      </form>
    </div>
  </mat-card>
</div>
