<div class="content" role="main">
  <mat-card class="login">
    <h1 class="header">Create an account</h1>
    <!-- <label for="uname"><b>Username</b></label> -->
    <div class="info">
      <form>
        <label for="fname"><b>First Name</b></label>
        <input type="text" placeholder="First Name" name="uname" required><br>
        <label for="lname"><b>Last Name</b></label>
        <input type="text" placeholder="Last Name" name="uname" required><br>
        <label for="uname"><b>Email</b></label>
        <input type="text" placeholder="Email" name="uname" required><br>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Password" name="uname" required><br>
        <label for="pnumber"><b>Phone number</b></label>
        <input type="text" placeholder="Phone" name="uname" required><br>
        <br><br>
        <label for="uname"><b>Classification</b></label>
        <input type="text" placeholder="Employee or Employer" name="uname" required><br>
        <label for="psw"><b>Industry</b></label>
        <input type="password" placeholder="Industry" name="uname" required><br>
        <label for="pnumber"><b>Secondary Industry</b></label>
        <input type="text" placeholder="Industry" name="uname" required><br>
    </form>
    <!-- <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button>
          </div>
        </div>
      </div> -->
    </div>
  </mat-card>
</div>
