<mat-card class="card">
  <div>
    <label>Job Position: </label> {{joblisting.position}}
  </div>
  <div>
    <label>Start Date: </label> {{joblisting.StartDate}}
  </div>
  <div>
      <label>Location: </label> {{joblisting.Location}}
  </div>
  <div>
      <label>Filter Tag 1: </label> {{joblisting.FilterTagOne}}
  </div>
  <div>
      <label>Filter Tag Two: </label> {{joblisting.FilterTagTwo}}
  </div>
  <div>
      <label>Education Requirement: </label> {{joblisting.EducationRequirement}}
  </div>
  <div>
      <label>Description: </label> {{joblisting.Description}}
    </div>
  <div>
    <label>Active: </label> {{joblisting.active}}
  </div>
  <div class = "tags">
    <p span="tag">FilterTagOne</p>  <p span="tag">FilterTagTwo</p>
  </div>
  <p>Description</p>
</mat-card>
