.main {
  display:flex;
  justify-content: center;
}

.form-control-bio {
  width: 350px;
  height: 200px;
}

.card {
  border: 1px solid #adb0b3;
  margin: 200px 0px 0px 0px;
  padding:40px;
  width: 25%;
}

h3 {
  display:flex;
  justify-content: center;
}

.btn {
  width: 140px!important;
  height: 50px!important;
}

