.content{
  display: flex;
  height: 90%;
  justify-content: center;
  align-content: center;
}

.home {
  height: 300px;
  width: 400px;
  border: 1px solid #adb0b3;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}
